<footer class="site-footer h-card">
  <data class="u-url" href="{% link index.html %}"></data>

  <div class="container">

    <div class="row mb-3">
      <div class="col-sm-3">
        <h5>Read more</h5>
        <ul class="list-unstyled m-0">
          <li><a href="{% link categories.html %}">Browse all Categories</a></li>
          <li><a href="{% link archives.html %}">Browse all Posts</a></li>
          <li><a href="{% link authors.html %}">Browse all Authors</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Social profiles</h5>
        <ul class="list-unstyled m-0">
          <li><a href="https://github.com/floriancourgey" target="_blank"><i class="fab fa-github"></i> <span class="username">Github floriancourgey</span></a></li>
          <li><a href="https://gitlab.com/floriancourgey" target="_blank"><i class="fab fa-gitlab"></i> <span class="username">Gitlab floriancourgey</span></a></li>
          <li><a href="https://trailblazer.me/id/floriancourgey" target="_blank"><i class="fab fa-salesforce"></i> <span class="username">Salesforce floriancourgey</span></a></li>
          <li><a href="https://www.paypal.me/floriancourgey" target="_blank"><i class="fab fa-cc-paypal"></i> <span class="username">Paypal floriancourgey</span></a></li>
          <li><a href="https://www.linkedin.com/in/floriancourgey" target="_blank"><i class="fab fa-linkedin"></i> <span class="username">Linkedin floriancourgey</span></a></li>
          <li><a href="https://yelp.fr/biz/florian-courgey-fontenay-aux-roses" target="_blank"><i class="fab fa-yelp"></i> <span class="username">Yelp florian-courgey</span></a></li>
          <li><a href="{% link feed.xml %}"><i class="fas fa-rss"></i> <span class="username">RSS Feed</span></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Network</h5>
        <ul class="list-unstyled m-0">
          <li><a href="https://blog.floriancourgey.com" target="_blank"><i class="fas fa-newspaper"></i> <span class="username">blog.floriancourgey.com</span></a></li>
          <li><a href="https://onedrive.live.com/" target="_blank"><i class="fas fa-cloud"></i> <span class="username">cloud</span></a></li>
          <li><a href="https://floriancourgey.com" target="_blank"><i class="fas fa-meteor"></i> <span class="username">www.floriancourgey.com</span></a></li>
          <li><a href="https://generatedata.floriancourgey.com/" target="_blank"><i class="fas fa-database"></i> <span class="username">generatedata.floriancourgey.com</span></a></li>
          <li><a href="https://pro1.mail.ovh.net/owa/" target="_blank"><i class="fas fa-envelope-open-text"></i> <span class="username">emails</span></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Contact</h5>
        <ul class="list-unstyled m-0">
          <li><i class="fas fa-home"></i> Paris, France</li>
          <li><i class="fas fa-suitcase"></i> New York, USA</li>
        </ul>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <p class="text-center">{{- site.description | escape -}}</p>
      </div>
    </div><!-- /.row -->

    <div class="text-center">
      <p>
        Built with ❤️ and ☕ by <a href="https://floriancourgey.com?ref=blog.floriancourgey.com" target="_blank">Florian Courgey</a><br>
        using <a href="https://jekyllrb.com" target="_blank">Jekyll</a>, <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a> and <a href="https://github.com/jekyll/minima" target="_blank">Minima</a> on steroids<br>
        hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
      </p>
    </div>

    <div class="text-center my-4">
      <a href="https://travis-ci.com/floriancourgey/blog" target="_blank">
        <img src="https://travis-ci.com/floriancourgey/blog.svg?branch=master" alt="">
      </a>
      <a href="https://stackshare.io/floriancourgey/blog"  target="_blank">
        <img src="https://img.shields.io/badge/tech-stack-0690fa.svg?style=flat)](https://stackshare.io/floriancourgey/blog" alt="">
      </a>
    </div>

    <div class="text-center">
      <p>
        Fork me on <a href="https://github.com/floriancourgey/blog" target="_blank">GitHub</a>
      </p>
    </div>

  </div><!-- /.container -->



</footer>
