<header class="site-header bg-light">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

  <nav class="container navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "categories" | relative_url }}">Categories</a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a class="nav-link" href="{{ "/categories?id=prestashop" | relative_url }}">Prestashop</a>
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ "/categories?id=prestashop 1.7" | relative_url }}">Prestashop 1.7</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a class="nav-link" href="{{ "/categories?id=adobe campaign" | relative_url }}">Adobe Campaign</a>
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ "/awesome-adobe-campaign" | relative_url }}">ACC Getting started guide (awesome list)</a>
              <a class="dropdown-item" href="{{ "/2020/01/adobe-campaign-snippets" | relative_url }}">ACC snippets</a>
              <a class="dropdown-item" href="{{ "/2018/09/adobe-campaign-input-form-helper/" | relative_url }}">Input Forms reference</a>
              <a class="dropdown-item" href="{{ "/2018/08/use-querydef-the-database-toolkit-in-adobe-campaign" | relative_url }}">queryDef & Database reference</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% post_url 2018-11-30-linux-training-overthewire-bandit-1 %}">OverTheWire/Linux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "archives" | relative_url }}">Archives</a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% post_url 2018-12-05-unix-cheatsheet %}">UNIX cheatsheet</a>
              <a class="dropdown-item" href="{% post_url 2018-12-14-crack-and-hack-cheatsheet %}">Crack & Hack</a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/string/?ref=blog.floriancourgey.com" target="_blank">String tools <i class="fas fa-xs fa-external-link-alt"></i></a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/mpg/?ref=blog.floriancourgey.com" target="_blank">MPG tools <i class="fas fa-xs fa-external-link-alt"></i></a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/seo/?ref=blog.floriancourgey.com" target="_blank">SEO tools <i class="fas fa-xs fa-external-link-alt"></i></a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-search" onclick="$('#search-input').focus();">
          Search <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </nav>
</header>
