<header class="site-header bg-light">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

  <nav class="container navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{% link index.html %}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
              🐧 Prestashop
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% post_url 2018/2018-04-23-how-to-create-a-new-front-controller-for-prestashop-1-7 %}">Custom Front Controller</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-05-28-create-an-admin-for-a-customized-sql-table %}">Custom Admin Controller</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-05-02-how-to-work-with-the-symfony-kernel-anywhere-in-prestashop-1-7 %}">Custom Symfony Controller</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-07-17-nginx-configuration-lets-encrypt-wordpress-prestashop %}">Nginx configuration</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% link categories.html %}?id=prestashop">All Prestashop</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
              📤 Adobe Campaign
            </a>
            <div class="dropdown-menu">
              <h4 class="dropdown-header">Adobe Campaign Integrations</h4>
              <a class="dropdown-item" href="{% post_url 2020/2020-11-25-azcopy-from-adobe-campaign %}">🟦 Integrate ACC to <b>Azure Blob</b></a>
              <a class="dropdown-item" href="{% post_url 2020/2020-03-10-adobe-campaign-to-git %}">🐙 Integrate ACC to <b>Git Repository</b></a>
              <a class="dropdown-item" href="{% post_url 2020/2020-01-06-google-shopping-products-import-into-acc %}">🛍️ Integrate <b>Google Shopping</b> to ACC</a>
              <a class="dropdown-item" href="{% post_url 2019/2019-11-08-dqm-workflow-javascript-with-query-and-api %}">🔡 Integrate ACC to External DQM vendor</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-10-15-use-javascript-libraries-in-adobe-campaign %}">📚 Integrate Javascript libraries to ACC</a>
              <a class="dropdown-item" href="{% post_url 2021/2021-06-10-salesforce-apex-cheatsheet %}#http-post-to-soap-adobe-campaign">☁️ Integrate Salesforce Service Cloud to ACC</a>
              <div class="dropdown-divider"></div>
              <h4 class="dropdown-header">Adobe Campaign Tutorials</h4>
              <a class="dropdown-item" href="{% post_url 2019/2019-05-15-intro-adobe-campaign %}">ACC Getting started guide (awesome list)</a>
              <a class="dropdown-item" href="{% post_url 2020/2020-01-17-adobe-campaign-snippets %}">ACC snippets</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-09-06-adobe-campaign-input-form-helper %}">Input Forms reference</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-08-03-use-querydef-the-database-toolkit-in-adobe-campaign %}">queryDef & Database reference</a>
              <a class="dropdown-item" href="{% post_url 2019/2019-03-13-using-dates-in-adobe-campaign %}">Date Best Practices</a>
              <a class="dropdown-item" href="{% post_url 2020/2020-09-21-delivery-post-processing-best-practices-adobe-campaign %}">Delivery post-processing Best Practices</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% post_url 2021/2021-09-08-Adobe-MVP-Community-Advisor-Florian-Courgey %}">🏆 Florian Courgey nominated Adobe MVP for 2021!</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% link categories.html %}?id=adobe campaign">All Adobe Campaign</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ☁️ Salesforce
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
              <h4 class="dropdown-header">Service Cloud</h4>
              <a class="dropdown-item" href="{% post_url 2021/2021-06-10-salesforce-apex-cheatsheet %}">Apex Cheatsheet</a>
              <a class="dropdown-item" href="{% post_url 2020/2020-10-27-salesforce-soap-api-external-call %}">Salesforce SOAP API</a>
              <a class="dropdown-item" href="{% post_url 2021/2021-05-22-salesforce-service-cloud-acquisition-page %}">Service Cloud Acquisition Page</a>
              <div class="dropdown-divider"></div>
              <h4 class="dropdown-header">Marketing Cloud</h4>
              <!--a class="dropdown-item" href="#">Marketing Cloud Journey External calls</a-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% link categories.html %}?id=salesforce">All Salesforce</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              🟥 Node-RED
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% post_url 2018/2018-11-22-use-node-red-for-automation %}">Node-RED for daily routine Slack notification</a>
              <a class="dropdown-item" href="{% post_url 2021/2021-08-09-node-red-on-heroku %}">Easy deploy Node-RED on Heroku</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% link categories.html %}">Categories</a>
              <a class="dropdown-item" href="{% link archives.html %}">Archives</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-11-30-linux-training-overthewire-bandit-1 %}">OverTheWire/Linux</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% post_url 2018/2018-12-05-unix-cheatsheet %}"><i class="fab fa-linux"></i> UNIX cheatsheet</a>
              <a class="dropdown-item" href="{% post_url 2021/2021-01-14-windows-powershell-cheatsheet %}"><i class="fab fa-windows"></i> Windows & Powershell cheatsheet</a>
              <a class="dropdown-item" href="{% post_url 2021/2021-01-14-alteryx-cheatsheet %}"><i class="fas fa-exchange-alt"></i> Alteryx ETL data cheatsheet</a>
              <a class="dropdown-item" href="{% post_url 2018/2018-12-14-crack-and-hack-cheatsheet %}"><i class="fas fa-user-secret"></i> Crack & Hack</a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/string/?ref=blog.floriancourgey.com" target="_blank"><i class="fas fa-code"></i>String tools <i class="fas fa-xs fa-external-link-alt"></i></a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/mpg/?ref=blog.floriancourgey.com" target="_blank"><i class="fas fa-futbol"></i> MPG tools <i class="fas fa-xs fa-external-link-alt"></i></a>
              <a class="dropdown-item" href="https://floriancourgey.github.io/tools/seo/?ref=blog.floriancourgey.com" target="_blank"><i class="fas fa-share"></i> SEO tools <i class="fas fa-xs fa-external-link-alt"></i></a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-search" onclick="$('#search-input').focus();">
          Search <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </nav>
</header>
