<header class="site-header bg-light">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

  <nav class="container navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
        </li>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
        <li class="nav-item">
          <div class="btn-group">
            <a class="nav-link" href="{{ "/categories?id=prestashop" | relative_url }}">Prestashop</a>
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ "/categories?id=prestashop 1.7" | relative_url }}">Prestashop 1.7</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a class="nav-link" href="{{ "/categories?id=adobe campaign" | relative_url }}">Adobe Campaign</a>
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ "/categories?id=neolane" | relative_url }}">Neolane</a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-search" onclick="$('#search-input').focus();">
          Search <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </nav>
</header>
