---
---
// Minima theme fix
html>body .highlight .err {
  color: initial;
  background-color: initial;
}
// Booostrap  fix
main {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
// category badges
.post-categories {
  .badge-info:visited {
    color: white;
    background-color: #17a2b8;
  }
  .badge-info:hover {
    color: white;
    background-color: #117a8b;
  }
}
// Algolia search
#modal-search {
  .modal-content {
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    #results-container {
      &>.search-results {
        max-width: 500px;
        margin: 1rem auto;
        list-style: none;
        &>a {
          display: inline-block;
        }
        em.ais-Highlight {
          background: antiquewhite;
        }
      }
    }
  }
}
// home
.home .post-list {
  li {
    margin-bottom: 0;
    &>.post-link{
      padding: 15px;
      border: 1px solid transparent;
      &:hover {
        border-color: lightgrey;
      }
    }
  }
}
// posts
article.post {
  img, video {
    max-height: 300px;
    margin: auto;
    display: block;
  }
  h2 {
    counter-increment: h2;
    counter-reset: h3 0;
    &:before {
      content: counter(h2) ". ";
    }
  }
  h3 {
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: darkslategray;
    font-style: italic;
    counter-increment: h3;
    &:before {
      // content: counter(h2) "." counter(h3, upper-alpha) ". ";
      content: counter(h3, upper-alpha) ". ";
    }
  }
}
/******************************
           LIGHTGALLERY
 ******************************/
.lg-container {
  text-align:center;
}
.lg-link {
  cursor: zoom-in;
  display:inline-block;
  position:relative;
}
.lg-overlay {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background */
  background: rgba(255,255,255,.8);
  /* visibility */
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.lg-link:hover .lg-overlay{
  opacity: 1;
  z-index: 3;
}
.lg-overlay-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  color:#4c4c4c;
}
.lg-link:hover .lg-overlay-inner {
  transform: translate(-50%,-50%);
}
.lg-img-wrap {
  cursor: zoom-out;
}
.lg-img-wrap > *{
  cursor: initial;
}
/******************************
         ANCHOR HEADER
 ******************************/
a.header-anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
  opacity: 0;
}
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor {
	opacity: 1;
}
a.header-anchor:hover > svg {
  fill:#0366d6;
}
