---
layout: default
---

{% assign author = site.authors | where: 'name', page.author | first %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="row post-meta">
      <p class="col-6">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if author -%}
          • <a href="{{author.url}}">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ author.name | escape }}</span>
              </span>
            </a>
        {%- endif -%}
      </p>
      <p class="col-6 text-right">
        <a href="https://github.com/floriancourgey/www/tree/master/{{ page.path }}" target="_blank">
          <i class="fas fa-pencil-alt"></i> Improve this page
        </a>
      </p>
    </div>
    <div class="post-categories">
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/categories?id={{category|slugize}}"
          class="badge badge-info">
          <i class="fas fa-tag"></i> {{category}}
        </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    <p style="font-size:10px;color:darkgray;">
      To display code in Disqus comment, use <code>&lt;pre&gt;&lt;code&gt;</code> tags. For example:<br/>
      <code>&lt;pre&gt;&lt;code class="python"&gt;a = 'b';&lt;/code&gt;&lt;/pre&gt;</code><br/>
      See <a href="https://help.disqus.com/commenting/syntax-highlighting" target="_blank">Disqus Syntax highlighting</a> for details.
    </p>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div style="height:25px"></div>

  <footer>
    More in this category:
    <div class="post-categories">
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/categories?id={{category|slugize}}"
          class="badge badge-info">
          <i class="fas fa-tag"></i> {{category}}
        </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </footer>
</article>

<div style="height:50px"></div>

<section id="more-work" class="row">
    {% if page.previous %}
        {% assign previous = page.previous %}
    {% else %}
        {% assign previous = site.posts[0] %}
    {% endif %}
    <div class="col-sm">
        <a href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
            <div>
                <h6>← Previous Project</h6>
                <h4>{{previous.title}}</h4>
            </div>
        </a>
    </div>

    {% if page.next %}
        {% assign next = page.next %}
    {% else %}
        {% assign last lastPostIndex = site.posts | size | minus: 1 %}
        {% assign next = site.posts[lastPostIndex] %}
    {% endif %}
    <div class="col-sm text-right">
        <a href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
            <div>
                <h6>Next Project →</h6>
                <h4>{{next.title}}</h4>
            </div>
        </a>
    </div>
</section>
